@model IEnumerable<ProductEntryDistinctDto>

@{
    ViewData["Title"] = "Index";
}

<a class="btn btn-primary mb-3 col-md-2 btn-sm" asp-action="Create">Product Adding</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Company Id</th>
            <th>Company Name</th>
            <th>Entry Date</th>
            <th>Invoice Number</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th class="col-md-1">@item.Id</th>
                <th class="col-md-1">@item.CompanyId</th>
                <th class="col-md-3">@item.CompanyName</th>
                <th class="col-md-3">@item.EntryDate</th>
                <th class="col-md-2">@item.InvoiceNumber</th>
                <th class="col-md-2">
                    <a class="btn btn-info btn-sm" asp-action="Details" asp-route-invoiceNumber="@item.InvoiceNumber">Details</a>
                </th>
            </tr>
        }
    </tbody>
</table>